* {
    padding: 0;
    margin: 0;
}

/*상단 내비바*/
nav {
    color: #435399;
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav .left-nav,
nav .right-nav {
    display: flex;
    font-size: 1.5rem;
}

nav .left-nav p {
    margin-left: 30px;
    font-family: inter;
}

nav .mid-nav p {
    font-size: 3rem;
    font-family: italiana;
}

nav .right-nav p {
    margin-right: 30px;
    font-family: inter;
}

/*메인 1 (이름과 사진)*/
main {
    background-color: #f2f2f2;
}

.me img {
    max-width: 35%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    position: relative;
}

/*메인 2 (소개)*/
.introduction {
    background-color: #435399;
    color: #ffffff;
    padding: 80px 150px 80px 150px;
}

.introduction-content {
    display: flex;
    justify-content: space-between;
}

.introduction-content .content-left,
.introduction-content .content-right {
    padding: 50px 0 0 0;
}

/*메인 3 (감성사진!)*/
.gamsung {
    display: flex;
}

.gamsung img {
    width: 50%;
    height: auto;
}

/*메인 4 (바이오그래피)*/
.biography {
    padding: 80px 150px 80px 150px;
    background-color: #f2f2f2;
}

.biography .bio-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.biography .bio-title p:nth-child(1){
    font-size: 3rem;
    font-weight: medium;
    color: #435399;
}

.biography .bio-title p:nth-child(2){
    font-size: 1.3rem;
    color: #ff5f85;
}

.biography .content1,
.biography .content2 {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.biography .content1 .stack,
.biography .content1 .tools,
.biography .content2 .awards,
.biography .content2 .certicifate {
    color: #435399;
    width: 40%;
    height: auto;
}

.biography .content1 .stack p,
.biography .content1 .tools p,
.biography .content2 .awards p,
.biography .content2 .certicifate p {
    font-size: 2rem;
}

.biography .content1 .line,
.biography .content2 .line {
    width: 100%;
    height: 2px;
    background-color: #435399;
    margin: 20px 0 20px 0;
}

.biography .content1 .stack ul,
.biography .content1 .tools ul,
.biography .content2 .awards ul,
.biography .content2 .certicifate ul {
    list-style: none;
}

.biography .content1 .stack li,
.biography .content1 .tools li,
.biography .content2 .awards li,
.biography .content2 .certicifate li {
    font-size: 1.5rem;
    margin-top: 20px;
}

/*메인 5 (경험 소개)*/
.experience {
    padding: 80px 0 80px 0;
    background-color: #ffffff;
    color: #435399;
}

.experience .experience-title {
    text-align: center;
}

.experience .experience-title p:nth-child(1) {
    font-size: 4rem;
    font-family: italiana;
}

.experience .experience-title p:nth-child(2) {
    font-size: 1.3rem;
    margin-top: 10px;
}

/*오토 슬라이드*/
.auto-slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    margin: 100px 0 30px 0;
}

.img-box {
    width: 4000px; 
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 5s linear infinite;
}

.img-box img {
    width: 90%;
    height: auto;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

/*메인 6 (프로젝트 모음집)*/
.project {
    padding: 80px 0 80px 0;
    background-color: #435399;
    color: #ffffff;
}

.project .project-title {
    text-align: center;
}

.project .project-title p:nth-child(1) {
    font-size: 4rem;
    font-family: italiana;
}

.project .project-title p:nth-child(2) {
    font-size: 1.3rem;
    margin: 10px 0 60px 0;
}

.pj1,
.pj2,
.pj3,
.pj4 {
    background-color: white;
    color: black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 60px 30px 60px;
    border-radius: 15px;
}

.pj-title p:nth-child(1){
    text-align: center;
    font-size: 1.5rem;
}

.pj-title p:nth-child(2){
    text-align: center;
    color: #7c7c7c;
    margin-top: 10px;
}

.pj-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.pj-content .any-file {
    width: 48%; 
}

.pj-content .any-file video,
.pj-content .any-file img {
    width: 100%;
    height: auto;
}

.pj-content .explain {
    width: 48%;
    height: auto;
}

.project .line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0 20px 0;
}

.explain p {
    margin-bottom: 10px;
}

/*footer*/
footer {
    background-color: #435399;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

footer .icon {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

footer .icon img {
    width: 15%;
    height: auto;
}

footer p {
    margin-top: 10px;
}